parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \=\=\= between array and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: commands/ApiController.php

		-
			message: '#^Access to an undefined property yii\\apidoc\\renderers\\BaseRenderer\:\:\$repoUrl\.$#'
			identifier: property.notFound
			count: 1
			path: helpers/ApiMarkdown.php

		-
			message: '#^Constructor of class yii\\apidoc\\models\\ConstDoc has an unused parameter \$docBlock\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: models/ConstDoc.php

		-
			message: '#^Property yii\\apidoc\\models\\TypeDoc\:\:\$events \(array\<string, yii\\apidoc\\models\\EventDoc\>\) does not accept array\<string, yii\\apidoc\\models\\ConstDoc\|yii\\apidoc\\models\\MethodDoc\|yii\\apidoc\\models\\PropertyDoc\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: models/Context.php

		-
			message: '#^Constructor of class yii\\apidoc\\models\\ParamDoc has an unused parameter \$context\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: models/ParamDoc.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: renderers/BaseRenderer.php

