<?xml version="1.0" encoding="utf-8"?>
<phpunit
    bootstrap="./tests/bootstrap.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
    failOnRisky="true"
    failOnWarning="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">commands</directory>
            <directory suffix=".php">components</directory>
            <directory suffix=".php">helpers</directory>
            <directory suffix=".php">models</directory>
            <directory suffix=".php">renderers</directory>
            <directory suffix=".php">templates</directory>
        </include>
    </coverage>
</phpunit>
