---
name: build

permissions:
  contents: read

on:
  pull_request: &ignore-paths
    paths-ignore:
      - ".github/CONTRIBUTING.md"
      - ".github/FUNDING.yml"
      - ".github/ISSUE_TEMPLATE.md"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".github/SECURITY.md"
      - ".editorconfig"
      - ".git-blame-ignore-revs"
      - ".gitattributes"
      - ".gitignore"
      - "LICENSE.md"
      - "README.md"
      - "CHANGELOG.md"
      - "UPGRADE.md"

  push: *ignore-paths

jobs:
  phpunit-7x:
    uses: yiisoft/yii2-actions/.github/workflows/phpunit.yml@master
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    with:
      php-version: '["7.4"]'
      configuration: phpunit-7x.xml.dist

  phpunit:
    uses: yiisoft/yii2-actions/.github/workflows/phpunit.yml@master
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    with:
      php-version: '["8.0", "8.1", "8.2", "8.3", "8.4", "8.5"]'
