---
name: static analysis

permissions:
  contents: read

on:
  pull_request: &ignore-paths
    paths-ignore:
      - ".github/CONTRIBUTING.md"
      - ".github/FUNDING.yml"
      - ".github/ISSUE_TEMPLATE.md"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".github/SECURITY.md"
      - ".editorconfig"
      - ".git-blame-ignore-revs"
      - ".gitattributes"
      - ".gitignore"
      - "LICENSE.md"
      - "README.md"
      - "CHANGELOG.md"
      - "UPGRADE.md"

  push: *ignore-paths

jobs:
  phpstan:
    uses: yiisoft/yii2-actions/.github/workflows/phpstan.yml@master
